<!DOCTYPE html>
<html>
<head>
    <title>
        draw star by number
    </title>
    <style>
    </style>
</head>
<body>
    <h1> 어떤 문자를 표시하실건가요</h1><br>
    <form method="GET" action="/calculate">
        <div>
            <label for="char1"> 표시할 문자 </label>
            <input type="text" name="char1">
        </div>
        <div>
            <label for="num"> 몇 번 </label>
            <input type="text" name="num">
        </div>
        <div class='button'>
            <button type="submit">숫자만큼 별 표시하기</button>
        </div>
    </form>
    <div>
        <p>
            {% if num == None %}
                <h5> 아직 아무 값도 입력이 안되었습니다. </h5>
            {% else %}
                <h5> {{num}} 를 입력받았습니다. </h5>
                {% for i in range(1, num+1) %}
                <p>
                    {% for j in range(0, i) %}
                        {{char1}}
                    {% endfor %}
                </p>
                {% endfor %}
            {% endif %}
        </p>
    </div>
</body>
</html>